DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@localhost:5432/rutea_mdp"
OSRM_BASE_URL="https://router.project-osrm.org"
NOMINATIM_BASE_URL="https://nominatim.openstreetmap.org"
